
#logoheader img{
    width: 328px;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;

    filter: drop-shadow(5px 5px 5px #222);
}

#textheader p{
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#edgeshadow{
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 2000px black inset;
    z-index: -10;
}
#headerline hr{
    border-top: 3px solid black;
    opacity: 0.5;
}

#headerbuttonparent{
    display: flex;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

#headerbutton1 button{
    background-color: rgb(89, 187, 254);
    border: none;
    color: #222;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 1px 1px 10px 0 black;
    margin-top: 16px;
}
#headerbutton2 button{
    background-color: rgb(89, 187, 254);
    border: none;
    color: #222;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 1px 1px 10px 0 black;
    margin-top: 16px;
}

#headerbutton1:hover button{
    background-color: rgb(239, 119, 239);
    color: white;  
    cursor: pointer;
}
#headerbutton2:hover button{
    background-color: rgb(239, 119, 239);
    color: white;
    cursor: pointer;
}

#splat{
    display: flex;
    justify-content: center;
    margin-top: -45px;
    position: relative;
    z-index: -1;      
}

#splattext{
    margin-top: 25px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#divider{
    width: 10px;
    height: auto;
    display: inline-block;
}
