
#logoheader img{
    width: 128px;
    position: relative;
    display: block;
    filter: drop-shadow(5px 5px 5px #222);
    margin-top: 5px;
}

#textheader p{
    font-weight: bold;
    font-size: 16px;
    color: white;
    text-shadow: 1px 1px 2px black, 1px 1px 2px black, 1px 1px 2px black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#edgeshadow{
    position: absolute;
    height: 100%;
    width: 100%;
    box-shadow: 0px 0px 2000px black inset;
    z-index: -10;
}
#headerline hr{
    border-top: 3px solid black;
    opacity: 0.5;
}

#headerbuttonparent{
    display: flex;
    max-width: fit-content;
}

#headerbutton1 button{
    background-color: rgb(89, 187, 254);
    border: none;
    color: #222;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 1px 1px 10px 0 black;
    margin-top: 16px;
}
#headerbutton2 button{
    background-color: rgb(89, 187, 254);
    border: none;
    color: #222;
    padding: 12px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
    transition-duration: 0.4s;
    box-shadow: 1px 1px 10px 0 black;
    margin-top: 16px;
}

#headerbutton1:hover button{
    background-color: rgb(239, 119, 239);
    color: white;  
    cursor: pointer;
}
#headerbutton2:hover button{
    background-color: rgb(239, 119, 239);
    color: white;
    cursor: pointer;
}

#splat{
    display: flex;
    justify-content: center;
    margin-top: -50px;
    position: relative;
    z-index: -1;    
}

#splattext{
    margin-top: 30px;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#gamewindowsection{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#gamewindow{
    width: 320px;
    height: 320px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: rgb(34, 34, 34, 0.8);
    border-radius: 15px;
    display: block;
    position: relative;
    box-shadow: 2px 2px 20px black;
}

#gwtext{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8px;
}

#gwimage{
    width: 256px;
    margin: auto;
    position: absolute;
    left: 32px;
    bottom: 8px;
    border-radius: 15px;
}

#divider{
    width: 10px;
    height: auto;
    display: inline-block;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}